@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #da4453, #89216b);
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 2rem auto;
}

.container h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 1rem;
}

.form-wrapper {
  width: min(400px, 80%);
  margin-inline: auto;
}

.form-wrapper p {
  width: 100%;
  text-align: end;
  color: #fff;
  font-size: 0.75rem;
  margin-bottom: 2rem;
}

.search-form {
  width: 100%;
  background-color: #fff;
  margin-block: 0.5rem;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  border: 2px solid transparent;
}

.search-form:focus-within {
  border-color: #333;
}

.search-form input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0 25px;
  padding-right: 0;
  font-size: 1rem;
}

.search-form input::-webkit-search-cancel-button {
  margin-left: 10px;
}

.search-form button {
  padding: 0 10px;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  display: flex;
  align-items: center;
}

.search-form span[class^="material-"] {
  font-size: 1.5rem;
}

.grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.grid-item {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.grid-item img {
  object-fit: cover;
  height: 300px;
}

.grid-item .image-content {
  position: absolute;
  inset: 0;
  z-index: 5;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.25));
  opacity: 0;
  transition: opacity 0.2s;
}

.grid-item:hover .image-content {
  opacity: 1;
}

.grid-item .photographer {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
}

.grid-item .photographer::before {
  content: "";
  margin-right: 0.5rem;
  background: url(https://images.pexels.com/lib/api/pexels-white.png) no-repeat;
  background-size: cover;
  width: 32px;
  height: 32px;
}

.no-result {
  text-align: center;
  color: #fff;
  grid-column: 1 / -1;
}

.loader {
  position: fixed;
  inset: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
}

.loader::before {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid rgba(0, 0, 0, 0.25);
  border-top: 4px solid #da4453;
  animation: spin linear 1s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}

.footer {
  padding: 2rem;
  text-align: center;
  margin-top: auto;
}

.footer a {
  display: inline-block;
}

.footer img {
  max-width: 100px;
}