footer {
  background-color: #333;
  color: white;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  @media (max-width: 600px) {
    background-color: #444;
    padding: 10px;
    font-size: smaller;
  }
 
    & a {
    color: white;
    text-decoration: none;

      &:hover {
      text-decoration: underline;
      color: yellow;
      } 
    }

    & p {
    font-size: smaller;
    }
}